#logo{
    display: block;
    font-size: 16px;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
}
#logo p{
    font-size: 16px;
    float: left;
    padding: 6px 14px;
    color: #e57777;
    margin:0;
    display: block;
}
.Navigator{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #f6f6f6;
    box-shadow: 0px 0px 5px #888888;
    width: 100%;
    display: block;
}
.Navi_item{
    list-style-type: none;
    margin: 0px;
    display: block;
}
.Navi_item li{
    float: left;
    padding: 8px 5px;
}
.Navi_item li a{
    font-size: 16px;
    display: block;
    border-radius: 12px;
    color: #3f3f3f;
    text-align: center;
    padding: 6px 29px;
    text-decoration: none;
    transition: 0.3s;
}
.Navi_item li a:hover{
    background-color: #e4e4e4;
}
.Navi_item li a.nav_active{
    background-color: #49A1F1;
    font-weight: bold;
    color: #ffffff;
}
.Navi_item li a.nav_active:hover{
    background-color: #2D93EF;
}
.Navi_item li a.nav_active:active{
    background-color: #2982cf;
}
.Navi_item li.nav_right_float{ 
    float: right;
}
.Navi_item li a.nav_important{
    border: 2px solid #49A1F1;
    color: #49A1F1;
    padding: 4px 29px;
}
.Navi_item li a.nav_important:hover{
    border: 2px solid #49A1F1;
    background-color: #49A1F1;
    color: #ffffff;
}